---
- name: "[CHECK] Attendre que Grafana réponde"
  uri:
    url: http://localhost:3000
    status_code: 200
  register: grafana_check
  retries: 15
  delay: 2
  until: grafana_check.status == 200

- name: "[CHECK] Attendre que Prometheus réponde"
  uri:
    url: http://localhost:9090
    status_code: 200
  register: prom_check
  retries: 15
  delay: 2
  until: prom_check.status == 200

- name: "[CHECK] Attendre que Webhook réponde"
  uri:
    url: http://localhost:5001
    status_code: 200
  register: webhook_check
  retries: 15
  delay: 2
  until: webhook_check.status == 200

- name: "[CHECK] Résumé final"
  debug:
    msg:
      - "✅ Grafana OK : http://localhost:3000"
      - "✅ Prometheus OK : http://localhost:9090"
      - "✅ Webhook OK : http://localhost:5001"

