version: "3.8"

networks:
  backbone:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24

  lan1:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.1.0/24

  lan2:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.2.0/24

services:
  router-central:
    image: frrouting/frr:latest
    container_name: router-central
    privileged: true
    networks:
      backbone:
        ipv4_address: 10.0.0.254
    volumes:
      - ./frr/router-central/frr.conf:/etc/frr/frr.conf:ro
      - ./frr/router-central/daemons:/etc/frr/daemons:ro
    command: >
      sh -c "
      sysctl -w net.ipv4.ip_forward=1 &&
      /usr/lib/frr/frrinit.sh start &&
      tail -f /dev/null
      "

  ce1-router:
    image: frrouting/frr:latest
    container_name: ce1-router
    privileged: true
    networks:
      backbone:
        ipv4_address: 10.0.0.101
      lan1:
        ipv4_address: 10.10.1.254
    volumes:
      - ./frr/ce1/frr.conf:/etc/frr/frr.conf:ro
      - ./frr/ce1/daemons:/etc/frr/daemons:ro
    command: >
      sh -c "
      sysctl -w net.ipv4.ip_forward=1 &&
      /usr/lib/frr/frrinit.sh start &&
      tail -f /dev/null
      "

  ce2-router:
    image: frrouting/frr:latest
    container_name: ce2-router
    privileged: true
    networks:
      backbone:
        ipv4_address: 10.0.0.102
      lan2:
        ipv4_address: 10.10.2.254
    volumes:
      - ./frr/ce2/frr.conf:/etc/frr/frr.conf:ro
      - ./frr/ce2/daemons:/etc/frr/daemons:ro
    command: >
      sh -c "
      sysctl -w net.ipv4.ip_forward=1 &&
      /usr/lib/frr/frrinit.sh start &&
      tail -f /dev/null
      "

  blackbox-exporter:
    image: prom/blackbox-exporter:latest
    container_name: blackbox-exporter
    networks:
      backbone:
        ipv4_address: 10.0.0.11
    ports:
      - "9115:9115"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    networks:
      backbone:
        ipv4_address: 10.0.0.12
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    networks:
      backbone:
        ipv4_address: 10.0.0.13
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro

  # =========================
  # WEBHOOK ALERTES GRAFANA
  # =========================
  webhook:
    build: ../webhook
    container_name: grafana-webhook
    networks:
      backbone:
        ipv4_address: 10.0.0.20
    ports:
      - "5001:5001"
