global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:

  # =========================
  # Blackbox Exporter - ICMP
  # =========================

  - job_name: "icmp-switches"
    metrics_path: /probe
    params:
      module: [icmp]

    static_configs:
      - targets:
          - 10.10.1.2
        labels:
          name: "lan1-switch"

      - targets:
          - 10.10.2.2
        labels:
          name: "lan2-switch"

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target

      - source_labels: [name]
        target_label: instance

      - target_label: __address__
        replacement: blackbox-exporter:9115


  - job_name: "icmp-routers"
    metrics_path: /probe
    params:
      module: [icmp]

    static_configs:
      - targets:
          - 10.0.0.254
        labels:
          name: "router-central"

      - targets:
          - 10.0.0.101
        labels:
          name: "ce1-router"

      - targets:
          - 10.0.0.102
        labels:
          name: "ce2-router"

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target

      - source_labels: [name]
        target_label: instance

      - target_label: __address__
        replacement: blackbox-exporter:9115


  # =========================
  # SNMP Exporter - Interfaces
  # =========================

  - job_name: "snmp-routers"
    metrics_path: /snmp
    params:
      module: [default]

    static_configs:
      - targets:
          - 10.0.0.254
        labels:
          instance: "router-central"

      - targets:
          - 10.0.0.101
        labels:
          instance: "ce1-router"

      - targets:
          - 10.0.0.102
        labels:
          instance: "ce2-router"

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target

      - target_label: __address__
        replacement: snmp-exporter:9116
