global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:

  - job_name: "icmp-routers"
    metrics_path: /probe
    params:
      module: [icmp]

    static_configs:
      - targets:
          - 10.0.0.254
        labels:
          instance: "router-central"

      - targets:
          - 10.0.0.101
        labels:
          instance: "ce1-router"

      - targets:
          - 10.0.0.102
        labels:
          instance: "ce2-router"

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target

      - target_label: __address__
        replacement: blackbox-exporter:9115
